<!DOCTYPE html>
<html>
<head>
  <title>Pacientes</title>
</head>
<body>
  <h1>Lista de Pacientes</h1>
  <ul>
    <% pacientes.forEach(p => { %>
      <li><%= p.nome %></li>
    <% }) %>
  </ul>
</body>
</html>
